<IfModule mod_rewrite.c>
    RewriteEngine On

    # Jika file atau folder fisik benar-benar ada di public (seperti gambar/css), biarkan diakses
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    # Jika tidak ada, lempar semuanya ke index.php
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>